<div class="banner">
  <h1>Jonny's Crazy Cocktails </h1>
</div>

<div class="container">
  <h2>My cocktails</h2>
  <% @cocktails.each do |cocktail| %>

  <div class="card">
    <div class="card-head">
      <h3><%= cocktail.name %></h3>
    </div>
    <div class="card-ingredients">
      <% cocktail.ingredients.each do |ingredient| %>
        <span><%= ingredient.name %></span>
      <% end %>
    </div>
    <div class="card-actions">
      <%= link_to "View", cocktail_path(cocktail) %>
    </div>
  </div>
  <% end %>
</div>
