<div class="container">
  <h1><%= @cocktail.name %></h1>
  <h2>Instructions for this lovely cocktail...</h2>
  <% @cocktail.doses.each do |dose| %>
    <p><%= dose.description %> | <%= dose.ingredient.name %></p>
  <% end %>
  <%= link_to "Back to cocktails", root_path %>
</div>
